* {
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	/* -webkit-appearance: none;
	-moz-appearance: none; */
}

::-webkit-scrollbar { 
    display: none; 
}
html,body {
	/* background-color: #ffaa00; */
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbf00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd624' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe038' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffeb49' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff558' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E"); */
	background-image: url('1368_Campus_3742.jpg');
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: 0px;
	margin-bottom: 0px;

	/* background-color: lightgrey; */
}

.mobile-only {
	visibility: hidden;
}

.shadow {
	box-shadow: 0px 0px 15px 5px  rgba(0, 0, 0, 0.05);
}

.drop_border {
	background-color: white;
	margin: 15px;
	border-radius: 5px;
}

#main_wrapper {
	/*padding: 1rem: */
	/* transition: visibility .5s, opacity .4s ease; */
	position: absolute;
	/* margin-left: .5rem; */
	/* margin-right: .5rem; */
	width: 100%;
	max-height: 80vh;
	/* background-color: grey; */

}

#faq_body {
	transition: visibility .5s, opacity .4s ease;
	background-color: transparent;
	/*background-image: linear-gradient(#FEE3AF, #F77F00);*/
	height: calc(90vh - 1.2rem);
	width: calc(100% - 2rem);
	position: absolute;
	font-size: 2rem;
	padding: 1rem;
	display: grid;
	grid-template-columns: 33% 33%;
	grid-template-rows: auto;
	grid-template-areas: 
	"faqs about sign_up";
}

#about {
	grid-area: about;
}

#faqs {
	grid-area: faqs;
}

#sign_up {
	grid-area: sign_up;
}

.join_content {
	font-size: 1.5rem;
	padding: 2rem;
	padding-top: 0px;
}

#content {
	/* position: absolute; */
	z-index: 1;
	height: calc(90vh - 2rem);;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: minmax(6rem, auto)  90%;
	grid-template-areas: 
	"title"
	"main_page";
}

#title {
	grid-area: title;
	background-color: transparent;	
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"name faq";
	font-size: 2rem;
}

#title a {
	color: black;
	align-self: center;
	/*text-decoration: none;*/
}

#name {
	grid-area: name;
	padding: 1rem;
	align-self: center;


}

#join{
	grid-area: join;
	padding: 1rem;
	text-align: right;	
	align-self: center;
}

#faq {
	grid-area: faq;
	padding: 1rem;
	text-align: right;
	align-self: center;
}

#contact {
	grid-area: contact;
	padding: 1rem;
	text-align: right;
	align-self: center;

}


#main_page {
	width: 100%;
	/* height: 50%; */
	grid-area: main_page;
	margin: 0px;
	/*background-color: salmon;*/
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
	"delivery_to"
	"delivery_from"
	"menu_items"
	"payment"
}

@media only screen and (min-width: 1000px){
 	#main_page {
		height: 70vh;
		grid-area: main_page;
		margin: 0px;
		display: grid;
		grid-template-columns: repeat(3, 33.33%);
		grid-template-rows: auto minmax(auto, 80vh);
		grid-template-areas: 
		"delivery_to menu_items payment"
		"delivery_from menu_items payment"
	}
}



.section_title {
	/*font-weight: bold;*/
	text-align: center;
	padding-top: .5rem;
	margin-bottom: 1.5rem;
}

#delivery_to_selectors {
	grid-area: delivery_to;
	/* height: ; */
	/*background-color: lightblue;*/
	padding: 1rem;
	margin-left: 0.5rem;
	font-size: 2rem;
	/*text-align: center;*/
	box-sizing:border-box;

}



#dorm_and_room_num_selectors {
	grid-template-rows: 100%;
	grid-template-columns: 50% 50%;
	margin-top: 0.5rem;
	grid-template-areas: 
	"dorms_select room_num"
}

#dorms_select {
	grid-area: dorms_select;
	width: 100%;
	box-sizing: inherit;
	font-size: 2rem;
}
/* #room_or_entry {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	margin-top: 0.5rem;
	grid-template-areas: 
	"room_num "
} */

#room_or_entry button {
	margin: 0px;
	width: 100%;
	height: 95%;
	border: none;
	border-radius: 2px;
	font-size: 2rem;
	padding: 2px;
	box-sizing: border-box;

}
.direct_select {
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.2s ease-out;
}

.direct_select:focus {
	outline: none;
}

.active {
	background-color: #fcbf49;
}
.inactive {
	background-color: none;
}
#room_select{
	grid-area: room_select;
	box-sizing: border-box;
	font-size: 2rem;
	padding: 3px;
	/*background-color: blue;*/
}

#entry_select{
	grid-area: entry_select;
}

#room_num {
	grid-area: room_num;
	width: 100%;
	box-sizing: border-box;
	height: 95%;
	/* margin-top: .5rem; */
	font-size: 2rem;
	padding-right: 3px;
	/* background-color: green; */
}

#delivery_from_selectors {
	grid-area: delivery_from;
	overflow: scroll;
	height: 100%;
	margin-left: 0.5rem;
	/*background-color: lightblue;*/
	padding: 1rem;
	font-size: 2rem;
	text-align: left;
	box-sizing:border-box;
}

#delivery_from_selectors hr {
	border: 1px solid black;
	margin: 0px;

}

#dining_options {
	margin-top: 1rem;
	overflow: scroll;
	height: 90%;
	padding: 0px;
}

#dining_options p {
	padding: 0px;
	margin: 0.25rem;
}

.diner_option {
	width: 100%;
	margin-bottom: 0.25rem;
	text-align: left;
	font-size: 1.5rem;
}

.hours {
	font-style: italic;
	color: grey;
}

#menu_items {
	grid-area: menu_items;
	font-size: 2rem;
	padding: 1rem;
	/*border-right: .15rem solid black;
	border-left: .15rem solid black;*/
}

#menu_items .section-title {
		background-color: lightgreen;

}

#menu_items td {
	overflow:hidden;
	/*background-color: red;*/
}
#menu_items td:nth-of-type(1) {
	width:50%
}
#menu_items td:nth-of-type(2) {
	width:16.66%;
}
#menu_items td:nth-of-type(3) {
	width:16.66%;
}
#menu_items td:nth-of-type(4) {
	width:16.66%;
}

.counter{
	text-align: center;
}

.button_td {
	text-align: center;
}
.adjust_button {
	height:3rem;
	width:3rem;
	text-align: center;
}

#payment{
	padding: 1rem 1rem 0rem 1rem;
	margin-right: 0	rem;
	grid-area: payment;
	height: auto;
	align-self: bottom;
	display: grid;
	grid-template-rows:10% 30% 8% 0% 20% 15%;
	grid-template-columns: 100%;
	grid-template-areas: 
	"payment_title"
	"confirm_items_list"
	"price_preview"
	"select_time_range"
	"instructions"
	"send_button"

}
#payment_title{
	grid-area: payment_title;
	font-size: 2rem;
}

#confirm_items_list {
	grid-area: confirm_items_list;
}

#confirm_items_table {
	table-layout:fixed;
	width: 1000px;
	font-size: 1.5rem;
	/*background-color: orange;*/
}
#confirm_items_table td {
	overflow:hidden;
	/*background-color: red;*/
}
#confirm_items_table td:nth-of-type(1) {
	width:50%
}
#confirm_items_table td:nth-of-type(2) {
	width:25%;
}
#confirm_items_table td:nth-of-type(3) {
	width:25%;
}

#price_preview{
	
	grid-area: price_preview;
	/*background-color: lightblue;*/
	font-size: 2em;
}
#select_time_range{
	grid-area: select_time_range;
	/*background-color: lightgreen;*/
	/*color: red;*/
	font-size: 1.5em;
}

#select_time_range input {
	margin: 0px;
	padding: 0px;
}
#instructions{
	grid-area: instructions;
	/*background-color: lightpink;*/
	font-size: 1.5em;
}

textarea[name="special_instructions"]{
	resize: none;
	width: 100%;
	height: 70%;
	box-sizing:border-box;
	font-family: helvetica;
	font-size: 1.5rem;
	padding: 0.25rem;
}
#send_button{
	grid-area: send_button;
	min-height: 50px;

	/*background-color: salmon;*/
	margin: 0px;
	padding: 0px;
	/*box-sizing:border-box;*/
}

span[name="price_preview_total"]{
	display: block;
	float: right;
}
input[name="telephone"]{
	/* width: 50%; */
	height: 3rem;
	font-size: 2em;
	box-sizing:border-box;
	padding: 0.25rem;
}

button[name="confirm"]{
	width: 50%;
	height: 3rem;
	font-size: 2em;
	box-sizing:border-box;
}

#progress_bar {
	width: 100%;
	height: 3rem;
	font-size: 2em;
	/* background-color: lightgreen; */
	box-sizing:border-box;
	grid-area: send_button;
	padding: 4px;
	margin-top: 4px;
	border: 1px solid black;
	border-radius: 7px;
}
  
#progress {
	width: 10%;
	background-color: #4A90E2;
	height: 100%;
	border-radius: 7px;
	border-color: #4A90E2;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
}

input[name="faq_tel"]{
	font-size: 1.5rem;
	box-sizing:border-box;
	padding: 0.25rem;
	width: 100%;
}

input[name="faq_name"]{
	font-size: 1.5rem;
	box-sizing:border-box;
	padding: 0.25rem;
	width: 100%;
}

input[name="_replyto"]{
	font-size: 1.5rem;
	box-sizing:border-box;
	padding: 0.25rem;
	width: 100%;
}

select[name="faq_dorm"]{
	font-size: 1.5rem;
	box-sizing:border-box;
	padding: 0.25rem;
	width: 100%;
}

input[name="faq_submit"]{
	width: 100%;
	font-size: 1.5rem;
	box-sizing:border-box;
	padding: 0.25rem;
}

/* STRIPE STUFF BELOW */

#payment-form {
  width: auto;
  /*min-width: 500px;*/
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}
#payment-form input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 1.5rem;
  width: 100%;
  background: white;
}
.result-message {
  line-height: 22px;
  font-size: 1.5rem;;
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}
#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 1.5rem;
  line-height: 17px;
  margin-top: 12px;
}
#card-element {
  border-radius: 4px 4px 0 0 ;
  padding: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: auto;
  width: auto;
  background: white;
}
#payment-request-button {
  margin-bottom: 32px;
}
/* Buttons and links */
#payment-form button {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 1.5rem;;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
#payment-form button:hover {
  filter: contrast(115%);
}
#payment-form button:disabled {
  opacity: 0.5;
  cursor: default;
}
/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 1.5rem;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  html, body {
    width: 100%;
  }
}


#_canvas {
	pointer-events:none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 3;
}

#confirm_message {
	transition: visibility .5s 2s, opacity .4s 2s ease;
	color: white;
	z-index: 2;
}

@media (max-width: 600px) {
	#content {
		grid-template-rows: minmax(4rem, auto) auto;
	}
	* {
		height: auto;
		/* position:static; */

	}
	html {
		/* position:fixed; */
		height: auto;
		width: 100%;
	}
	.desktop-only {
		visibility: hidden;
	}
	.mobile-only {
		visibility: visible;
	}
	#title {
		grid-template-columns: 100% 0%;
		text-align: center;
	}
	#name {
		align-self: auto;
	}
}